/*--------------------------------------------------------------
Media Queries
--------------------------------------------------------------*/
/* All size smaller than standard 1291 (devices and browsers) */
@media only screen and (max-width: 1290px) {
	.container,
	.narrow-layout #page {
		width: 964px;
	}
	.narrow-layout .container {
		width: 904px;
	}
}

/* All Tablet Portrait size smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width: 1023px) {
	.container,
	.narrow-layout #page {
		width: 708px;
	}
	.narrow-layout .container {
		width: 668px;
	}
	#site-title a img {
		max-width: 708px;
	}
	.narrow-layout #site-title a img {
		max-width: 668px;
	}
	.clearfix-third,
	.clearfix-fourth {
		clear: none;
	}
	.clearfix-half,
	.clearfix-third-team {
		clear: both;
	}
	.featured-slider .featured-image {
		padding: 25% 0;
	}
	.featured-slider .featured-image,
	.promotional_bar_content,
	.page-title-wrap {
		background-attachment: scroll;
	}
	.featured-text .featured-title {
		font-size: 45px;
		line-height: 52px;
	}
	#primary,
	#secondary {
		float: none;
		width: 100%;
	}
	.no-sidebar-layout #main {
		margin: 0 ;
		width: 100%;
	}
	/* Column */
	.column {
		margin-left: -2.99%;
	}
	.one-half,
	.one-third,
	.one-fourth {
		margin: 0 0 0 2.9%;
	}
	.one-third,
	.one-fourth {
		width: 30.43%;
	}	
	.widget_service .one-third,
	.widget_service .one-fourth {
		width: 47.09%;
	}
	/* Custom Gallery Page */
	.custom-gallery #content .column {
		margin-left: -20px;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin-left: 20px;
	}
	.custom-gallery #content .one-half {
		width: 324px;
	}
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		width: 209px;
	}
	#colophon .widget-area {
		margin-left: 0;
	}
	#colophon .one-fourth {
		width: 100%;
		float: none;
		margin: 0;
	}
}

/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {
	hr {
		margin-bottom: 30px;
	}
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	input[type="tel"],
	input[type="url"],
	input[type="date"],
	textarea,
	input[type="reset"],
	input[type="button"],
	input[type="submit"],
	input[type="radio"],
	input[type="checkbox"],
	input[type="file"] {
		margin-bottom: 20px;
	}
	input.s {
		margin: 0;
	}
	.container,
	.narrow-layout #page {
		width: 300px;
	}
	.narrow-layout .container {
		width: 280px;
	}
	.comments-title,
	#respond h3#reply-title {
		font-size: 26px;
		line-height: 32px;
	}
	#masthead .info-bar {
		display: none;
	}
	#main h1,
	#main h2,
	#main h3,
	#main h4,
	#main h5,
	#main h6 {
		padding-bottom: 10px;
	}
	.narrow-layout #colophon {
		margin-bottom: 10px;
	}
	#site-logo {
		margin-bottom: 13px;
		margin-top: 13px;
		max-width: 265px;
	}
	#site-title a img {
		max-width: 265px;
	}
	.narrow-layout #site-logo,
	.narrow-layout #site-title a img {
		max-width: 240px;
	}
	.hgroup-right {
		padding-right: 0;
		min-width: inherit;
	}
	.search-toggle {
		display: none;
	}

	/* Responsive Navigation */
	.menu-toggle {
		display: block;
		background-color: rgba(0, 0, 0, 0);
		font-size: 0;
		border: 0 none;
		padding: 0;
		color: #666;
		width: 30px;
		height: 21px;
		float: right;
		margin-top: 19px;
		cursor: pointer;
	}
	.menu-toggle:before {
		display: block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 25px;
		line-height: 0;
		font-family: 'Genericons';
		vertical-align: top;
		content: '\f419';
	}
	.hgroup-right {
		clear: both;
		float: none;
	}
	.nav-menu {
		display: none;
	}
	.toggled-on .nav-menu {
		display: block;
	}
	.main-navigation {
		float: none;
	}
	.main-navigation li {
		position: inherit;
		width: 100%;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-left: 0;
	}
	.main-navigation a {
		float: none;
		padding: 10px 0;
		height: inherit;
	}
	/* Dropdown */
	.main-navigation ul li ul,
	.main-navigation ul li:hover ul ul,
	.main-navigation ul ul li:hover ul ul,
	.main-navigation ul ul ul li:hover ul ul,
	.main-navigation ul ul ul ul li:hover ul ul {
		display: block;
	}
	.main-navigation ul li ul {
		position: inherit;
		top: 0;
		width: inherit;
		border: 0 none;
	}
	#site-navigation ul li ul {
		background-color: #fff;
	}
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current_page_ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current_page_item ul li a {
		padding: 10px 0 10px 15px;
	}
	.main-navigation ul li ul li a:hover,
	.main-navigation ul li ul li:hover > a,
	.main-navigation ul li.current-menu-item ul li a:hover {
		background-color: inherit;
	}
	.main-navigation ul li ul li ul {
		left: 0;
	}
	.main-navigation ul li ul li ul li a,
	.main-navigation ul li.current-menu-item ul li ul li a,
	.main-navigation ul li ul li.current-menu-item ul li a,
	.main-navigation ul li.current_page_ancestor ul li ul li a,
	.main-navigation ul li.current-menu-ancestor ul li ul li a,
	.main-navigation ul li.current_page_item ul li ul li a {
		padding-left: 21px;
	}
	.featured-text .featured-title {
		font-size: 30px;
		line-height: 37px;
	}
	.featured-text .featured-title, 
	.featured-text .featured-content {
		padding-bottom: 20px;
	}
	.featured-text .call-to-action {
		margin: 10px 5px 0;
		padding: 10px 13px;
	}
	.page-title-wrap {
		padding: 20px 0;
	}
	#content {
		padding-top: 50px;
	}
	/* Column */
	.column {
		margin-left: 0;
	}
	.one-half,
	.one-third,
	.one-fourth,
	.widget_service .one-half,
	.widget_service .one-third,
	.widget_service .one-fourth,
	.widget_recent_work .recent-work-col {
		margin: 0;
		width: 100%;
	}
	/* Custom Gallery Page */
	.custom-gallery #content .column {
		margin-left: 0;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin: 0;
		padding-bottom: 10px;
		width: 280px;
	}
	#main .post,
	#main .attachment {
		padding-bottom: 40px;
	}
	#main .sticky {
		padding: 10px 10px 0;
		margin-bottom: 40px;
	}
	#wp_page_numbers,
	.wp-pagenavi,
	#main ul.default-wp-page,
	.pagination {
		margin-bottom: 40px;
	}
	#wp_page_numbers ul li.page_info,
	.wp-pagenavi .pages {
		display: none;
	}
	.widget {
		margin-bottom: 40px;
	}
	.widget_custom-tagcloud {
		margin-bottom: 32px;
	}
	.widget_article {
		margin-bottom: 20px;
	}
	.widget_featured_page,
	.widget_promotional_bar,
	.widget_testimonial,
	.widget_recent_work,
	.widget_service,
	.widget_ourclients,
	.widget_our_team {
		margin-bottom: 0;
	}
	.clearfix-third-team {
		clear: none;
	}
	.clearfix-half-team {
		clear: both;
	}
	.widget_featured_page .container {
		padding: 60px 0 40px;
	}
	.featured-page-content {
		padding-bottom: 10px;
	}
	.widget_featured_page .featured-page-content,
	.widget_featured_page .featured-page-image {
		float: none;
		width: 100%;
		text-align: center;
	}
	.widget_featured_page .featured-page-image figure {
		text-align: center;
		padding: 0 5%;
	}
	.widget_featured_page .featured-page-image figure img {
		max-height: 250px;
	}
	.widget_ourclients ul li {
		max-width: 120px;
	}
	#colophon .widget_article {
		margin-bottom: 20px;
	}
	#colophon .info-bar .info ul li {
		width: 100%;
		margin: 0;
	}
	.site-info .social-profiles,
	.site-info .copyright {
		float: none;
		width: 100%;
	}
	.site-info .social-profiles ul {
		text-align: center;
		float: none;
	}
	.site-info .social-profiles ul li {
		display: inline-block;
		float: none;
	}
	.site-info .copyright {
		padding-top: 20px;
		text-align: center;
	}
}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container,
	.narrow-layout #page {
		width: 460px;
	}
	.narrow-layout .container {
		width: 440px;
	}
	.narrow-layout #colophon {
		margin-bottom: 20px;
	}
	#site-logo,
	#site-title a img {
		max-width: 420px;
	}
	.narrow-layout #site-logo,
	.narrow-layout #site-title a img {
		max-width: 400px;
	}
	.featured-slider .featured-image {
		padding: 15% 0;
	}
	#main .sticky {
		padding: 15px 15px 0;
	}
	/* Column */
	.column {
		margin-left: -3.57%;
	}
	.one-half,
	.one-third,
	.one-fourth {
		margin: 0 0 0 3.44%;
		width: 46.56%;
	}
	.widget_recent_work .recent-work-col {
		float: left;
    	width: 33.33%;
	}
	.widget_service .column {
		margin-left: 0;
	}
	.widget_recent_work .recent-work-col a {
		min-height: 50px;
	}
	.widget_recent_work .recent-work-col a .recent-work-content {
		display: none;
	}
	/* Custom Gallery Page */
	.custom-gallery #content .column {
		margin-left: -14px;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		margin-left: 14px;
		width: 203px;
	}
}

/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {
	.container,
	.narrow-layout #page,
	.narrow-layout .container {
		width: 95%;
	}
	.custom-gallery #content .one-half,
	.custom-gallery #content .one-third,
	.custom-gallery #content .one-fourth {
		width: 100%;
	}
}